@font-face {
  font-family: 'Solomon Sans Semibold';
  src: url('../fonts/solomon_sans_semibold.woff2')
         format('woff2'),
       url('../fonts/solomon_sans_semibold.woff')
         format('woff');
}
@font-face {
  font-family: 'Solomon Sans Normal';
  src: url('../fonts/solomon_sans_normal.woff2')
         format('woff2'),
       url('../fonts/solomon_sans_normal.woff')
         format('woff');
}
@font-face {
  font-family: 'Solomon Sans Bold';
  src: url('../fonts/solomon_sans_bold.woff2')
         format('woff2'),
       url('../fonts/solomon_sans_bold.woff')
         format('woff');
}